<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bootstrap.banksy.core.mapper.SysModuleMapper">

    <resultMap id="AllColumnMap" type="com.bootstrap.banksy.core.domain.SysModule">
        <result column="parent_id" property="parentId"/>
        <result column="level" property="level"/>
        <result column="name" property="name"/>
        <result column="page_name" property="pageName"/>
        <result column="datatable" property="datatable"/>
        <result column="register_time" property="registerTime"/>
        <result column="location" property="location"/>
        <result column="description" property="description"/>
        <result column="id" property="id"/>
        <result column="creator_userid" property="creatorUserid"/>
        <result column="create_time" property="createTime"/>
        <result column="update_userid" property="updateUserid"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
        <result column="is_del" property="isDel"/>
    </resultMap>

    <sql id="all_column">
        parent_id,
        level,
        name,
        page_name,
        datatable,
        register_time,
        location,
        description,
        id,
        creator_userid,
        create_time,
        update_userid,
        update_time,
        version,
        is_del
    </sql>

    <insert id="insertSelective">
        INSERT INTO T_SYS_MODULE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null"> parent_id, </if>
            <if test="level != null"> level, </if>
            <if test="name != null"> name, </if>
            <if test="pageName != null"> page_name, </if>
            <if test="datatable != null"> datatable, </if>
            <if test="registerTime != null"> register_time, </if>
            <if test="location != null"> location, </if>
            <if test="description != null"> description, </if>
            <if test="id != null"> id, </if>
            <if test="creatorUserid != null"> creator_userid, </if>
            <if test="createTime != null"> create_time, </if>
            <if test="updateUserid != null"> update_userid, </if>
            <if test="updateTime != null"> update_time, </if>
            <if test="version != null"> version, </if>
            <if test="isDel != null"> is_del, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null"> #{parentId}, </if>
            <if test="level != null"> #{level}, </if>
            <if test="name != null"> #{name}, </if>
            <if test="pageName != null"> #{pageName}, </if>
            <if test="datatable != null"> #{datatable}, </if>
            <if test="registerTime != null"> #{registerTime}, </if>
            <if test="location != null"> #{location}, </if>
            <if test="description != null"> #{description}, </if>
            <if test="id != null"> #{id}, </if>
            <if test="creatorUserid != null"> #{creatorUserid}, </if>
            <if test="createTime != null"> #{createTime}, </if>
            <if test="updateUserid != null"> #{updateUserid}, </if>
            <if test="updateTime != null"> #{updateTime}, </if>
            <if test="version != null"> #{version}, </if>
            <if test="isDel != null"> #{isDel}, </if>
        </trim>
    </insert>

<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO T_SYS_MODULE(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="modules" item="module" index="index" separator=",">
            (
            #{module.parentId},
            #{module.level},
            #{module.name},
            #{module.pageName},
            #{module.datatable},
            #{module.registerTime},
            #{module.location},
            #{module.description},
            #{module.id},
            #{module.creatorUserid},
            #{module.createTime},
            #{module.updateUserid},
            #{module.updateTime},
            #{module.version},
            #{module.isDel}
            )
        </foreach>
    </insert>

    <update id="updateSelective">
        UPDATE T_SYS_MODULE
        <set>
            <if test="parentId != null"> parent_id = #{parentId}, </if>
            <if test="level != null"> level = #{level}, </if>
            <if test="name != null"> name = #{name}, </if>
            <if test="pageName != null"> page_name = #{pageName}, </if>
            <if test="datatable != null"> datatable = #{datatable}, </if>
            <if test="registerTime != null"> register_time = #{registerTime}, </if>
            <if test="location != null"> location = #{location}, </if>
            <if test="description != null"> description = #{description}, </if>
            <if test="id != null"> id = #{id}, </if>
            <if test="creatorUserid != null"> creator_userid = #{creatorUserid}, </if>
            <if test="createTime != null"> create_time = #{createTime}, </if>
            <if test="updateUserid != null"> update_userid = #{updateUserid}, </if>
            <if test="version != null"> version = #{version}, </if>
            <if test="isDel != null"> is_del = #{isDel}, </if>
        </set>
         WHERE id = #{id}
    </update>

    <select id="selectAll" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM T_SYS_MODULE
        <where>
            <if test="parentId != null"> AND parent_id = #{parentId} </if>
            <if test="level != null"> AND level = #{level} </if>
            <if test="name != null"> AND name = #{name} </if>
            <if test="pageName != null"> AND page_name = #{pageName} </if>
            <if test="datatable != null"> AND datatable = #{datatable} </if>
            <if test="registerTime != null"> AND register_time = #{registerTime} </if>
            <if test="location != null"> AND location = #{location} </if>
            <if test="description != null"> AND description = #{description} </if>
            <if test="id != null"> AND id = #{id} </if>
            <if test="creatorUserid != null"> AND creator_userid = #{creatorUserid} </if>
            <if test="createTime != null"> AND create_time = #{createTime} </if>
            <if test="updateUserid != null"> AND update_userid = #{updateUserid} </if>
            <if test="updateTime != null"> AND update_time = #{updateTime} </if>
            <if test="version != null"> AND version = #{version} </if>
            <if test="isDel != null"> AND is_del = #{isDel} </if>
        </where>
    </select>

    <delete id="deleteById">
        DELETE FROM T_SYS_MODULE where id = #{id}
    </delete>
</mapper>
