<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bootstrap.banksy.core.mapper.SysOrgMapper">

<!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.bootstrap.banksy.core.domain.SysOrg">
        <result column="parent_id" property="parentId"/>
        <result column="node_type" property="nodeType"/>
        <result column="ser_no" property="serNo"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="alias" property="alias"/>
        <result column="fullname" property="fullname"/>
        <result column="postid" property="postid"/>
        <result column="validity" property="validity"/>
        <result column="id" property="id"/>
        <result column="creator_userid" property="creatorUserid"/>
        <result column="create_time" property="createTime"/>
        <result column="update_userid" property="updateUserid"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
        <result column="is_del" property="isDel"/>
    </resultMap>

    <sql id="all_column">
        parent_id,
        node_type,
        ser_no,
        code,
        name,
        alias,
        fullname,
        postid,
        validity,
        id,
        creator_userid,
        create_time,
        update_userid,
        update_time,
        version,
        is_del
    </sql>

    <insert id="insertSelective">
        INSERT INTO sys_org
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null"> parent_id, </if>
            <if test="nodeType != null"> node_type, </if>
            <if test="serNo != null"> ser_no, </if>
            <if test="code != null"> code, </if>
            <if test="name != null"> name, </if>
            <if test="alias != null"> alias, </if>
            <if test="fullname != null"> fullname, </if>
            <if test="postid != null"> postid, </if>
            <if test="validity != null"> validity, </if>
            <if test="id != null"> id, </if>
            <if test="creatorUserid != null"> creator_userid, </if>
            <if test="createTime != null"> create_time, </if>
            <if test="updateUserid != null"> update_userid, </if>
            <if test="updateTime != null"> update_time, </if>
            <if test="version != null"> version, </if>
            <if test="isDel != null"> is_del, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null"> #{parentId}, </if>
            <if test="nodeType != null"> #{nodeType}, </if>
            <if test="serNo != null"> #{serNo}, </if>
            <if test="code != null"> #{code}, </if>
            <if test="name != null"> #{name}, </if>
            <if test="alias != null"> #{alias}, </if>
            <if test="fullname != null"> #{fullname}, </if>
            <if test="postid != null"> #{postid}, </if>
            <if test="validity != null"> #{validity}, </if>
            <if test="id != null"> #{id}, </if>
            <if test="creatorUserid != null"> #{creatorUserid}, </if>
            <if test="createTime != null"> #{createTime}, </if>
            <if test="updateUserid != null"> #{updateUserid}, </if>
            <if test="updateTime != null"> #{updateTime}, </if>
            <if test="version != null"> #{version}, </if>
            <if test="isDel != null"> #{isDel}, </if>
        </trim>
    </insert>

<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO sys_org(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="orgs" item="org" index="index" separator=",">
            (
            #{org.parentId},
            #{org.nodeType},
            #{org.serNo},
            #{org.code},
            #{org.name},
            #{org.alias},
            #{org.fullname},
            #{org.postid},
            #{org.validity},
            #{org.id},
            #{org.creatorUserid},
            #{org.createTime},
            #{org.updateUserid},
            #{org.updateTime},
            #{org.version},
            #{org.isDel}
            )
        </foreach>
    </insert>

<!--auto generated Code-->
    <update id="updateSelective">
        UPDATE sys_org
        <set>
            <if test="parentId != null"> parent_id = #{parentId}, </if>
            <if test="nodeType != null"> node_type = #{nodeType}, </if>
            <if test="serNo != null"> ser_no = #{serNo}, </if>
            <if test="code != null"> code = #{code}, </if>
            <if test="name != null"> name = #{name}, </if>
            <if test="alias != null"> alias = #{alias}, </if>
            <if test="fullname != null"> fullname = #{fullname}, </if>
            <if test="postid != null"> postid = #{postid}, </if>
            <if test="validity != null"> validity = #{validity}, </if>
            <if test="id != null"> id = #{id}, </if>
            <if test="creatorUserid != null"> creator_userid = #{creatorUserid}, </if>
            <if test="createTime != null"> create_time = #{createTime}, </if>
            <if test="updateUserid != null"> update_userid = #{updateUserid}, </if>
            <if test="version != null"> version = #{version}, </if>
            <if test="isDel != null"> is_del = #{isDel}, </if>
        </set>
         WHERE id = #{id}
    </update>

    <select id="selectAll" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM sys_org
        <where>
            <if test="parentId != null"> AND parent_id = #{parentId} </if>
            <if test="nodeType != null"> AND node_type = #{nodeType} </if>
            <if test="serNo != null"> AND ser_no = #{serNo} </if>
            <if test="code != null"> AND code = #{code} </if>
            <if test="name != null"> AND name = #{name} </if>
            <if test="alias != null"> AND alias = #{alias} </if>
            <if test="fullname != null"> AND fullname = #{fullname} </if>
            <if test="postid != null"> AND postid = #{postid} </if>
            <if test="validity != null"> AND validity = #{validity} </if>
            <if test="id != null"> AND id = #{id} </if>
            <if test="creatorUserid != null"> AND creator_userid = #{creatorUserid} </if>
            <if test="createTime != null"> AND create_time = #{createTime} </if>
            <if test="updateUserid != null"> AND update_userid = #{updateUserid} </if>
            <if test="updateTime != null"> AND update_time = #{updateTime} </if>
            <if test="version != null"> AND version = #{version} </if>
            <if test="isDel != null"> AND is_del = #{isDel} </if>
        </where>
    </select>

    <delete id="deleteById">
        DELETE FROM sys_org where id = #{id}
    </delete>
</mapper>
