<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bootstrap.banksy.core.mapper.SysUserMapper">

    <resultMap id="AllColumnMap" type="com.bootstrap.banksy.core.domain.SysUser">
        <result column="name" property="name"/>
        <result column="loginname" property="loginname"/>
        <result column="password" property="password"/>
        <result column="description" property="description"/>
        <result column="id" property="id"/>
        <result column="creator_userid" property="creatorUserid"/>
        <result column="create_time" property="createTime"/>
        <result column="update_userid" property="updateUserid"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
        <result column="is_del" property="isDel"/>
    </resultMap>

    <sql id="all_column">
        name,
        loginname,
        password,
        description,
        id,
        creator_userid,
        create_time,
        update_userid,
        update_time,
        version,
        is_del
    </sql>

    <insert id="insertSelective">
        INSERT INTO sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null"> name, </if>
            <if test="loginname != null"> loginname, </if>
            <if test="password != null"> password, </if>
            <if test="description != null"> description, </if>
            <if test="id != null"> id, </if>
            <if test="creatorUserid != null"> creator_userid, </if>
            <if test="createTime != null"> create_time, </if>
            <if test="updateUserid != null"> update_userid, </if>
            <if test="updateTime != null"> update_time, </if>
            <if test="version != null"> version, </if>
            <if test="isDel != null"> is_del, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null"> #{name}, </if>
            <if test="loginname != null"> #{loginname}, </if>
            <if test="password != null"> #{password}, </if>
            <if test="description != null"> #{description}, </if>
            <if test="id != null"> #{id}, </if>
            <if test="creatorUserid != null"> #{creatorUserid}, </if>
            <if test="createTime != null"> #{createTime}, </if>
            <if test="updateUserid != null"> #{updateUserid}, </if>
            <if test="updateTime != null"> #{updateTime}, </if>
            <if test="version != null"> #{version}, </if>
            <if test="isDel != null"> #{isDel}, </if>
        </trim>
    </insert>

    <insert id="insertList">
        INSERT INTO sys_user(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="users" item="user" index="index" separator=",">
            (
            #{user.name},
            #{user.loginname},
            #{user.password},
            #{user.description},
            #{user.id},
            #{user.creatorUserid},
            #{user.createTime},
            #{user.updateUserid},
            #{user.updateTime},
            #{user.version},
            #{user.isDel}
            )
        </foreach>
    </insert>

    <update id="updateSelective">
        UPDATE sys_user
        <set>
            <if test="name != null"> name = #{name}, </if>
            <if test="loginname != null"> loginname = #{loginname}, </if>
            <if test="password != null"> password = #{password}, </if>
            <if test="description != null"> description = #{description}, </if>
            <if test="id != null"> id = #{id}, </if>
            <if test="creatorUserid != null"> creator_userid = #{creatorUserid}, </if>
            <if test="createTime != null"> create_time = #{createTime}, </if>
            <if test="updateUserid != null"> update_userid = #{updateUserid}, </if>
            <if test="version != null"> version = #{version}, </if>
            <if test="isDel != null"> is_del = #{isDel}, </if>
        </set>
         WHERE id = #{id}
    </update>

    <select id="selectAll" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM sys_user
        <where>
            <if test="name != null"> AND name = #{name} </if>
            <if test="loginname != null"> AND loginname = #{loginname} </if>
            <if test="password != null"> AND password = #{password} </if>
            <if test="description != null"> AND description = #{description} </if>
            <if test="id != null"> AND id = #{id} </if>
            <if test="creatorUserid != null"> AND creator_userid = #{creatorUserid} </if>
            <if test="createTime != null"> AND create_time = #{createTime} </if>
            <if test="updateUserid != null"> AND update_userid = #{updateUserid} </if>
            <if test="updateTime != null"> AND update_time = #{updateTime} </if>
            <if test="version != null"> AND version = #{version} </if>
            <if test="isDel != null"> AND is_del = #{isDel} </if>
        </where>
    </select>

    <delete id="deleteById">
        DELETE FROM sys_user where id = #{id}
    </delete>
</mapper>
