<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">
    <link rel="shortcut icon" href="asset/images/favicon.ico">
    <title>Ubold - Responsive Admin Dashboard Template</title>
    <link rel="stylesheet" href="asset/css/morris.css">
    <link href="asset/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="asset/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="asset/css/style.css" rel="stylesheet" type="text/css" />
    <script src="asset/js/modernizr.min.js"></script>

</head>


<body class="fixed-left">


<div id="wrapper">
    <div class="topbar">

        <div class="topbar-left">
            <div class="text-center">
                <a href="index.html" class="logo"><i class="icon-magnet icon-c-logo"></i><span>Ub<i class="md md-album"></i>ld</span></a>
            </div>
        </div>

        <nav class="navbar-custom">
            <ul class="list-inline float-right mb-0">
                <li class="list-inline-item dropdown notification-list">
                    <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="false" aria-expanded="false">
                        <img src="asset/images/avatar-1.jpg" alt="user" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
                        <div class="dropdown-item noti-title">
                            <h5 class="text-overflow"><small>Welcome ! John</small> </h5>
                        </div>

                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="md md-account-circle"></i> <span>Profile</span>
                        </a>

                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="md md-settings"></i> <span>Settings</span>
                        </a>

                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="md md-lock-open"></i> <span>Lock Screen</span>
                        </a>

                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="md md-settings-power"></i> <span>Logout</span>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>

    <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">
            <div id="sidebar-menu">
                <ul>
                    <li class="text-muted menu-title">Navigation</li>
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><i class="ti-home"></i> <span> Dashboard </span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled">
                            <li><a href="index.html">Dashboard 1</a></li>
                            <li><a href="dashboard_2.html">Dashboard 2</a></li>
                            <li><a href="dashboard_3.html">Dashboard 3</a></li>
                            <li><a href="dashboard_4.html">Dashboard 4</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">

            </div>
        </div>
        <footer class="footer text-right">
            &copy; 2016 - 2018. All rights reserved.
        </footer>
    </div>

</div>


<script>
    var resizefunc = [];
</script>

<script src="asset/js/jquery.min.js"></script>
<script src="asset/js/popper.min.js"></script>
<script src="asset/js/bootstrap.min.js"></script>
<script src="asset/js/detect.js"></script>
<script src="asset/js/fastclick.js"></script>
<script src="asset/js/jquery.slimscroll.js"></script>
<script src="asset/js/jquery.blockUI.js"></script>
<script src="asset/js/waves.js"></script>
<script src="asset/js/wow.min.js"></script>
<script src="asset/js/jquery.nicescroll.js"></script>
<script src="asset/js/jquery.scrollTo.min.js"></script>
<script src="asset/plugins/jquery.peity.min.js"></script>
<script src="asset/plugins/jquery.waypoints.min.js"></script>
<script src="asset/plugins/jquery.counterup.min.js"></script>
<script src="asset/plugins/morris.min.js"></script>
<script src="asset/plugins/raphael-min.js"></script>
<script src="asset/plugins/jquery.knob.js"></script>
<script src="asset/pages/jquery.dashboard.js"></script>
<script src="asset/js/jquery.core.js"></script>
<script src="asset/js/jquery.app.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('.counter').counterUp({
            delay: 100,
            time: 1200
        });

        $(".knob").knob();

    });
</script>
</body>
</html>